
<span>Start Date <input [(ngModel)]="StartDate"  type="date"></span><br />
<span>End Date <input [(ngModel)]="EndDate" type="date"></span>

<app-SimPicker (SimSelected)="handleSimSelected($event)"></app-SimPicker>
<!--If sim is not attached to phone-->
<app-PhonePicker *ngIf="SelectedSim && !SelectedSim.PhoneNumber" (PhoneSelected)="handlePhoneSelected($event)"></app-PhonePicker>

<!--If sim attached to phone-->
<div *ngIf="SelectedSim && SelectedSim.PhoneNumber">
    <div>PhoneNumber : {{SelectedSim.PhoneNumber.Number}}</div>
</div>

<div *ngIf="SelectedSim && (SelectedSim.PhoneNumber || SelectedPhoneNumber)">
    <span>Add Virtual Phone Number <input #isAddDID type="checkbox" (change)="0"> </span>
    <app-PhonePicker 
        (PhoneSelected)="handleVDIDSelected($event)"
        *ngIf="isAddDID.checked" 
        [IsVDID]="true" 
        [SourcePhoneNumber]="SelectedPhoneNumber">
    </app-PhonePicker>
</div>

<app-PlanPicker (PlanSelected)="handlePlanSelected($event)"></app-PlanPicker><br />
<span>Arrival Before 9 AM: <input [(ngModel)]="Transaction.ArrivalBeforeNineAM" type="checkbox" (change)="0"> </span><br />
<span>Additional Data: <input [(ngModel)]="Transaction.AdditionalData" type="number" (change)="0"></span><br />
<span>Overseas Calles: <input [(ngModel)]="Transaction.OverseasCalls" type="checkbox" (change)="0"> </span><br />
    <!--Notes : string;-->
<button (click)="CreateTransaction($event)">Create Transaction</button><br />
