<table border="1">
  <tr>
    <th>Transaction ID</th>
    <th>company</th>
    <th>creator</th>
    <th>time stamp</th>
    <th>start date</th>
    <th>End date </th>
    <th>SimNumber </th>
    <th>phone Number</th>
    <th>Attached Virtual Phone Nuber</th>
    <th>Price Per Day</th>
  </tr>
  <tr *ngFor="let item of Transactions">
    <td>{{item._id}}</td>
    <td>{{item.Company.Name}}</td>
    <td>{{item.Creator.Username}}</td>
    <td>{{item.TimeStamp | date:'medium'}}</td>
    <td>{{item.StartDate | date:'medium'}}</td>
    <td>{{item.EndDate | date:'medium'}}</td>
    <td>{{item.SimCard.SimNumber}}</td>
    <td>{{item.SimCard.PhoneNumber.Number}}</td>
    <td> 
      <div *ngIf="item.SimCard.PhoneNumber.AttachedPhoneNumber">
        {{item.SimCard.PhoneNumber.AttachedPhoneNumber.Number}}
      </div>
    </td>
    <td>{{item.Plan.PricePerDay}}</td>
  </tr>
</table>